

    <table cellspacing="10">
      <tr>
        <td>
          <img [attr.src] = "myPhoto" alt="naman" height="220px" >
        </td>
        <td>  <h1> Naman sharma </h1>
          <p> AI enthusiast | Web Developer </p></td>
      </tr>
    </table>
        <hr>
          <h3>Previous Works Done</h3>
          <ul>
            <li>Created an NLP project to predict business</li>
            <li>Exploratory Data Analysis on different datasets</li>
            <li>ML intern at microsoft gold partner company</li>
          </ul>
          <hr>
          <h3> Skills </h3><br>
            <table>
                  <thead>
                    <th>skills</th>
             
                  </thead>
                  <tbody>
                    <tr>
                      <td>web development</td>
             
                    </tr>
                    <tr>
                      <td>python</td>
          
                    </tr>
                  </tbody>
            </table>
            <hr>
            <h2>Have Any Query?</h2>
            <a href="#">Contact Me</a>


